# Ignorer virtual environment
venv/
dpp_venv/

# Ignorer cache-filer
__pycache__/
*.pyc

# Ignorer databasefiler (hvis du bruker SQLite)
db.sqlite3

# Ignorer OS-filer (Mac/Windows)
.DS_Store
Thumbs.db
