# Ignore virtual environments
venv/
dpp_venv/

# Ignore cache-files
__pycache__/
*.pyc

# Ignore database files (if using SQLite)
db.sqlite3

# Ignore OS-files (Mac/Windows)
.DS_Store
Thumbs.db

.env
notes.txt
signals.py