<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Digital Product Passport</title>
  </head>
  <body>
    <h1>Digital Product Passport: {{ dpp_id }}</h1>

    <h2>Product Details:</h2>
    <p><strong>Name:</strong> {{ product.name }}</p>
    <p><strong>ID:</strong> {{ product.id }}</p>

    <h2>Actor Details:</h2>
    <p><strong>Name:</strong> {{ actor.name }}</p>
    <p><strong>Mail:</strong> {{ actor.mail }}</p>

    <h2>Timestamp:</h2>
    <p>{{ timeStamp }}</p>
  </body>
</html>
